.buttonHover {
    background-color: cadetblue;
    border: 2px;
    width: 250px;
    height: 250px;
}

.btn{
    background-color: yellow;
    color: green;
}

.btnClear{
    font-size: 20px;
    font-weight: 600;
}

.buttonhtml {
    background-color: chocolate;
    width: 200px;
    height: 200px;

}